
<header class="main-header">

     

    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>Inicio</b></span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
<nav class="navbar navbar-static-top" role="navigation">
    <a href="@Url.Action("Index", "Reporte")" class="logo" img="">
        Crear Reporte
    </a>
    <a href="@Url.Action("Index", "Cliente")" class="logo" img="">
        Crear Usuario
    </a>
    <div class="navbar-custom-menu">
        @* Usuario *@
        <a href="@Url.Action("Index", "Usuario")" class="btn btn-success btn-sm" img="~/Content/Iconos/USER.png">
            @*<span class="logo-lg"><b>Crear Usuario</b></span>*@
            <img class="resize_fit_center" src="~/Content/Iconos/USER.png" width="20px" /> <p>@Session["ROLES"] </p>
        </a>
    </div>
</nav>
</header>