@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
       
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"> <span>Página Principal</span></a>
            </li>

            <li class="@Url.IsLinkActive("AnotherLink", "Reporte")">
                <a href="@Url.Action("Index", "Reporte")"> <span>Crear Reporte</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                     <span>Mantenimientos</span>
                    <span class="pull-right-container">
                        
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Cliente")">Clientes</a></li>
                    <li><a href="@Url.Action("Index", "Usuario")">Usuarios</a></li>
                </ul>
            </li>
            <li class="@Url.IsLinkActive("AnotherLink", "Reporte")">
                <a href="@Url.Action("BuscarCliente", "Reporte")"> <span>Buscar Reporte</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>